
#tab_bar {

  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: $app_grey;

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  .tab_marker {
    margin: 0px 5px 0px 5px;
    border-width: 2px 2px 0px 2px;
    border-color: $app_grey;
    border-style: solid;
    padding: 3px 10px;
  }

  .tab_marker_in_focus {
    background-color: $app_grey;
  }

}

.list_item_in_focus {
  border: 1px solid $app_blue;
}

.big_section {
  border: 1px solid $app_purple;
  padding: 20px;
  margin: 20px;
}

.big_section_in_focus {
  border-width: 6px;
}

.tag, .mode {
  border: 1px solid $app_green;
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.tag_in_focus, .mode_in_focus {
  border: 3px solid $app_green;
}

.point-in-focus {
  border: solid 1px $app_purple;
}

.section {
  border: 1px solid $app_green;
  margin: 15px;
}

input, textarea {
  width: 100%;
}

#question-input {
  height: 100px;
}

#answer-input {
  height: 100px;
}

.answer {
  color: $app_blue;
}

.my-modal {
  position: fixed;// [> Stay in place <]
  z-index: 1; //[> Sit on top <]
  left: 0;
  top: 0;
  width: 100%;// [> Full width <]
  height: 100%;// [> Full height <]
  overflow: auto;// [> Enable scroll if needed <]
  background-color: rgb(0,0,0);// [> Fallback color <]
  background-color: rgba(0,0,0,0.4);// [> Black w/ opacity <]
}

#point-form {
    margin: 15% auto;
    border: 10px solid $app_green;
    width: 80%;
}

.alert {
  color: $app_green;
  border: 10px solid $app_green !important;
  z-index: 1;
  top: 20%;
  left: 45%;
  position: fixed;
}
